/*
  Import the fonts for use
 */
@font-face {
	font-family: 'Mann-Icon';
	src:url('#{$tf-font-path}/Mann-Icon.eot?px5wl5');
	src:url('#{$tf-font-path}/Mann-Icon.eot?#iefixpx5wl5') format('embedded-opentype'),
		url('#{$tf-font-path}/Mann-Icon.woff?px5wl5') format('woff'),
		url('#{$tf-font-path}/Mann-Icon.ttf?px5wl5') format('truetype'),
		url('#{$tf-font-path}/Mann-Icon.svg?px5wl5#Mann-Icon') format('svg');
	font-weight: normal;
	font-style: normal;
}