/*
  List of variables
*/

$tf-font-path: '../fonts' !default;
$tf-version: '1.0.0' !default;

/** Icons */
$tf-var-tf2-logo: '\e600';
$tf-var-spy-circle: '\e601';
$tf-var-spy: '\e602';
$tf-var-soldier-circle: '\e603';
$tf-var-soldier: '\e604';
$tf-var-sniper-circle: '\e605';
$tf-var-sniper: '\e606';
$tf-var-scout-circle: '\e607';
$tf-var-scout: '\e608';
$tf-var-pyro-circle: '\e609';
$tf-var-pyro: '\e60a';
$tf-var-medic-circle: '\e60b';
$tf-var-medic: '\e60c';
$tf-var-heavy-no-arrow: '\e60d';
$tf-var-heavy-circle-no-arrow: '\e60e';
$tf-var-heavy-circle: '\e60f';
$tf-var-heavy: '\e610';
$tf-var-engineer-circle: '\e611';
$tf-var-engineer: '\e612';
$tf-var-demo-circle: '\e613';
$tf-var-demo: '\e614';